<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ijinshan.sjk.mapper.PhoneInfoMapper">

	<resultMap id="phoneInfoVo" type="com.ijinshan.sjk.vo.PhoneVo">
		<result property="phoneType" column="PhoneType" />
		<result property="cpu" column="Cpu" />
		<result property="phoneId" column="PhoneId" />
	</resultMap>

	<select id="findPhoneInfoList" parameterType="string" resultMap="phoneInfoVo">
		select pinfo.Product as PhoneType,prel.Cpu as cpu,prel.PhoneId as phoneId 
	   <![CDATA[
	   from  PhoneRelations prel join PhoneBasicInfo pinfo 
    	   where pinfo.Id = prel.PhoneId and pinfo.Brand = #{brand} and pinfo.Product <> 'Android设备'
	   ]]>
	</select>

	<select id="findPhoneInfoByParams" resultType="Integer">
		select prel.PhoneId as PhoneId
		 <![CDATA[
		from PhoneRelations prel
		join PhoneBasicInfo pinfo where pinfo.Id = prel.PhoneId
		and prel.Cpu = #{cputype}
		and pinfo.Product <> 'Android设备'
		and pinfo.Brand = #{brand}
         ]]>
        <if test="product!=null">
    		and pinfo.Product = #{product}
        </if>		
	</select>
</mapper>