<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- set the logging path -->
	<property name="LOG_HOME" value="/data/logs/sjk-data-handler" />
	<property name="CONSOLE_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level -- %class [%3line] -- %msg%n" />
	<property name="MSG_PATTERN" value="%d{ISO8601} -- %msg%n" />
	<property name="NORMAL_PATTERN" value="%d{ISO8601} %-5level -- %-50.50logger -- %msg%n" />
	<property name="SERIOUS_PATTERN" value="%d{ISO8601} [%-16.16thread] %-5level -- %-60.60class [%3line] -- %msg%n" />
	<timestamp key="byDay" datePattern="yyyyMMdd" />
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- File Appender -->
	<appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<file>${LOG_HOME}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/debug.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERIOUS_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${NORMAL_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- special level : range -->
	<appender name="APP_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERIOUS_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- 记录详细日志(运营数据分析) begin -->
	<appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/details/detail.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${MSG_PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="db" level="INFO" additivity="false">
		<appender-ref ref="DETAIL" />
		<appender-ref ref="DEBUG" />
	</logger>
	<!-- 记录详细日志(运营数据分析) end -->
	<!-- For debug , developers. begin -->
	<logger name="org" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="INFO" />
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="com.mchange" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="com.jolbox.bonecp" level="DEBUG" additivity="false">
		<appender-ref ref="INFO" />
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="com.google.code" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<!-- For debug , developers. end -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<!-- APP_ERROR: WARN ERROR OFF -->
		<appender-ref ref="APP_ERROR" />
	</root>
</configuration>