<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- sends logs to logback-beagle -->
	<!-- <consolePlugin /> -->
	<!-- set the logging path -->
	<property name="LOG_HOME" value="/data/logs/sjk-market-collection" />
	<property name="CONSOLE_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level -- %class [%3line] -- %msg%n" />
	<property name="MSG_PATTERN" value="%d{ISO8601} -- %msg%n" />
	<property name="NORMAL_PATTERN" value="%d{ISO8601} -- %-60.60class [%3line] -- %msg%n" />
	<property name="SERIOUS_PATTERN" value="%d{ISO8601} [%-16.16thread] %-5level -- %-60.60class [%3line] -- %msg%n" />
	<timestamp key="byDay" datePattern="yyyyMMdd" />
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>false</withJansi>
		<encoder>
			<pattern>${CONSOLE_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- File Appender -->
	<appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<file>${LOG_HOME}/debug.txt</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/debug.%d{yyyyMMdd}.txt</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERIOUS_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info.%d{yyyyMMdd}.txt</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${NORMAL_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- special level : range -->
	<appender name="APP_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error.%d{yyyyMMdd}.txt</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERIOUS_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="THIRD_JAR_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error.%d{yyyyMMdd}.txt</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERIOUS_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- 记录详细日志(运营数据分析) begin -->
	<appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/details/detail.%d{yyyyMMdd}.txt
			</fileNamePattern>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${MSG_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="brokenlink" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/details/brokenlink.%d{yyyyMMdd}.txt
			</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${MSG_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="marketExceptionApp" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/details/market-exception-app.%d{yyyyMMdd}.txt
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERIOUS_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="marketAccess" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/details/market-access.%d{yyyyMMdd}.txt
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${SERIOUS_PATTERN}</pattern>
		</encoder>
	</appender>
	<!-- 记录详细日志(运营数据分析) begin -->
	<logger name="db" level="INFO" additivity="false">
		<appender-ref ref="DETAIL" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="db.market" level="INFO" additivity="false">
		<appender-ref ref="marketAccess" />
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="db.brokenlink" level="INFO" additivity="false">
		<appender-ref ref="brokenlink" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="db.exception.app" level=" INFO" additivity="false">
		<appender-ref ref="marketExceptionApp" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="APP_ERROR" />
	</logger>
	<!-- 记录详细日志(运营数据分析) end -->
	<!-- For debug , developers. begin -->
	<logger name="org" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="org.springframework" level="ERROR" additivity="false">
		<!-- <appender-ref ref="INFO" /> -->
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="net.rubyeye.xmemcached" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="net.sf.ehcache" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="com.mchange" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="com.jolbox.bonecp" level="INFO" additivity="false">
		<appender-ref ref="INFO" />
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="com.google.code" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="net.paoding" level="ERROR" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<logger name="org.hibernate.AssertionFailure" level="OFF" additivity="false">
		<appender-ref ref="APP_ERROR" />
	</logger>
	<!-- For debug , developers. end -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<!-- APP_ERROR: WARN ERROR OFF -->
		<appender-ref ref="APP_ERROR" />
	</root>
</configuration>